{
    "presets": [
        [
            "@babel/preset-env",
            {
                "debug": true,
                "useBuiltIns": false,
            }
        ]
    ],
    "plugins": [
        "@babel/plugin-transform-runtime"
    ]
}